body {
	background-color: blanchedalmond;
	color: black;
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
}

.wrapper {
	/* background-color: aqua; */
}

.title {
	position: absolute;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.journal {
	position: absolute;
	top: 50px;
	bottom: 60px;
	overflow-y: scroll;
	width: 99%;
}

.entry {
	margin-bottom: 5px;
	padding: 10px;
}

.entry:hover {
	cursor: pointer;
	/* font-weight: bold; */
	color: rgb(100, 100, 100);
}

.player {
	position: absolute;
	/* height: 110px; */
	width: 99%;
	bottom: 0;
	background-color: blanchedalmond;
}

#audio {
	width: 99%;
	max-width: 800px;
	/* background-color: blanchedalmond; */
}

#audioTitle {
	/* font-weight: bold; */
	/* background-color: blue; */
	margin-bottom: 0px;
	margin-top: 8px;
}

audio::-webkit-media-controls-panel {
	background-color: blanchedalmond;
}
